@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   
  li {
        @apply p-6 font-sans
    }
    body {
      @apply  bg-zinc-200  max-w-full overflow-x-hidden
      
    }
    
}



.will-change-transform {
    will-change: transform;
  }
  .cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: animate-pulse;
    will-change: opacity;
  }
  
  @keyframes cursor {
    0%,
    40% {
      opacity: 1;
    }
  
    60%,
    100% {
      opacity: 0;
    }
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}


